<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" th:href="@{favicon.ico(v=2)}"/>
  <title>Title</title>
</head>
<body>
<div id="app">
  <div>
    <h1>임시 사용자 콘솔 화면</h1>
  </div>
  <div>
    <div>
      <span>사용자 ID : </span>
      <input v-model="user.id" type="text">
      <input type="button" value="업데이트" @click="updateAllInformation()">
    </div>
  </div>
  <div>
    <div>
      <input type="button" value="키 등록" @click="toggleKeyRegisterUI()">
      <input type="button" value="자동매매 등록" @click="toggleAutoTradingRegisterUI()">
    </div>
    <div v-if="register.keyPair.isVisible">
      <h3> 키 등록</h3>
      <select v-model="register.keyPair.coinExchangeType">
        <option disabled value="">거래소</option>
        <option v-for="(value,key) in type.coinExchangeTypeMap" :value="key">{{value}}</option>
      </select>
      <div v-for="(key, i) in register.keyPair.keyList">
        <input v-model="key.name" type="text" placeholder="키 이름">
        <input v-model="key.value" type="text" placeholder="키 값">
        <input type="button" value="x" @click="deleteKeyInputBox(i)">
      </div>
      <div>
        <input type="button" value="+" @click="addKeyInputBox()">
      </div>
      <div>
        <input type="button" value="등록하기" @click="registerKeyPair(refresh)">
      </div>
    </div>
    <div v-if="register.autoTrading.isVisible">
      <h3> 자동 매매 등록</h3>
      <div>
        <input v-model="register.autoTrading.title" type="text" placeholder="제목">
      </div>
      <div>
        <select v-model="register.autoTrading.coinType">
          <option disabled value="">코인 종목</option>
          <option v-for="(value,key) in type.coinTypeMap" :value="key">{{value}}</option>
        </select>
      </div>
      <div>
        <select v-model="register.autoTrading.coinExchangeType">
          <option disabled value="">거래소</option>
          <option v-for="(value,key) in type.coinExchangeTypeMap" :value="key">{{value}}</option>
        </select>
      </div>
      <div>
        <select v-model="register.autoTrading.tradingTerm">
          <option disabled value="">매매 전략</option>
          <option v-for="(value,key) in type.tradingTermMap" :value="key">{{value}}</option>
        </select>
      </div>
      <div>
        <select v-model="register.autoTrading.strategyCode">
          <option disabled value="">전략 코드</option>
          <option v-for="(value,key) in type.strategyCodeMap" :value="key">{{value}}</option>
        </select>
      </div>
      <div>
        <div>
          <input v-model="register.autoTrading.buyRsi" type="text" placeholder="매수 주문을 할 rsi 기준">
        </div>
        <div>
          <input v-model="register.autoTrading.profitRsi" type="text" placeholder="이익중일때 익절할 rsi 기준">
        </div>
        <div>
          <input v-model="register.autoTrading.lossRsi" type="text" placeholder="손실중일때 손절할 rsi 기준">
        </div>
        <div>
          <input v-model="register.autoTrading.profitLimitPriceRate" type="text" placeholder="익절 이익율 상한">
        </div>
        <div>
          <input v-model="register.autoTrading.lossLimitPriceRate" type="text" placeholder="손절 손실율 상한">
        </div>
        <div>
          <input v-model="register.autoTrading.tooOldOrderTimeSeconds" type="text" placeholder="초(second)">
        </div>
        <div>
          <input v-model="register.autoTrading.orderPrice" type="text" placeholder="한번에 주문할 금액">
        </div>
        <div>
          <input v-model="register.autoTrading.accountBalanceLimit" type="text" placeholder="계좌 금액 안전 장치">
        </div>
      </div>
      <div>
        <input v-model="register.autoTrading.keyPairId" type="text" placeholder="키 페어 ID">
      </div>
      <div>
        <input type="button" value="등록하기" @click="registerAutoTrading(refresh)">
      </div>
    </div>
    <div v-if="register.backTesting.isVisible">
      <input type="datetime-local" v-model="register.backTesting.start">
      <input type="datetime-local" v-model="register.backTesting.end">
      <input type="button" value="실행" @click="registerBackTesting(register.backTesting.autoTradingProcessorId, register.backTesting.start, register.backTesting.end, refresh)">
    </div>
  </div>
  <div>
    <h2> 키 리스트 </h2>
    <div v-for="keyPair in user.keyPairList">
      <div>
        <div>
          키 페어 ID : {{keyPair.pairId}}
        </div>
        <div>
          거래소 : {{keyPair.coinExchangeType}}
        </div>
        <div v-for="key in keyPair.keyList">
          <div>
            키 이름 : {{key.name}}
          </div>
        </div>
        <div>
          <input type="button" value="삭제" @click="deleteUserPairKey(keyPair.pairId, refresh)">
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2> 자동매매 리스트 </h2>
    <div v-for="autoTrading in user.autoTradingList">
      <div>
        제목 : {{autoTrading.title}}
      </div>
      <div>
        전략 코드 : {{autoTrading.strategyIdentifyCode}}
      </div>
      <div>
        매매 타입 : {{autoTrading.tradingTerm}}
      </div>
      <div>
        거래소 : {{autoTrading.coinExchangeType}}
      </div>
      <div>
        코인 : {{autoTrading.coinType}}
      </div>
      <div>
        프로세스ID : {{autoTrading.processorId}}
      </div>
      <div>
        상태 : {{autoTrading.processStatus}}
      </div>
      <div>
        세부설정 : {{autoTrading}}
      </div>
      <div>
        백테스팅 현황
        <div v-for="backTesting in user.backTestingList">
          <div v-if="backTesting.autoTradingProcessorId==autoTrading.processorId">
            <div>
              상태 : {{backTesting.result.status}}
            </div>
            <div>
              손익 : {{backTesting.result.marginPrice}}
            </div>
            <div>
              손익율 : {{backTesting.result.marginRate}}
            </div>
          </div>
        </div>
      </div>
      <div>
        <input type="button" value="시작" @click="startAutoTrading(autoTrading.processorId,refresh)">
        <input type="button" value="정지" @click="stopAutoTrading(autoTrading.processorId,refresh)">
        <input type="button" value="종료" @click="terminateAutoTrading(autoTrading.processorId,refresh)">
        <input type="button" value="백테스팅" @click="toggleBackTestingRegisterUI(autoTrading.processorId)">
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript"></script>
<script>
  var api = axios.create({
    timeout: 5000,
  });
  api.interceptors.response.use((response) => response, (error) => {
    alert(error);
    throw error;
  });
  new Vue({
    el: '#app',
    data() {
      return {
        user: {
          id: "",
          keyPairList: [],
          autoTradingList: [],
          backTestingList: []
        },
        register: {
          keyPair: {},
          autoTrading: {},
          backTesting: {}
        },
        type: {}
      }
    },
    async created() {
      this.register.keyPair = this.resetKeyRegister();
      this.register.autoTrading = this.resetAutoTradingRegister();
      this.register.backTesting = this.resetBackTestingRegister();
      this.type = this.resetTypeInfo();
    },
    methods: {
      async refresh() {
        this.updateAllInformation();
      },
      async updateAllInformation() {
        const userId = this.user.id;
        this.user.keyPairList = await this.getUserKeyList(userId);
        this.user.autoTradingList = await this.getUserAutoTradingList(userId);
        this.user.backTestingList = await this.getUserBackTestingList(userId);
      },
      addKeyInputBox() {
        this.register.keyPair.keyList.push({name: "", value: ""});
      },
      deleteKeyInputBox(index) {
        this.register.keyPair.keyList.splice(index, 1);
      },
      async getUserKeyList(userId) {
        const response = await api.get("/user/" + userId + "/key/pair", this.headers());
        return response.data.body;
      },
      async getUserAutoTradingList(userId) {
        const response = await api.get("/user/" + userId + "/autotrading", this.headers());
        return response.data.body;
      },
      async getUserBackTestingList(userId) {
        const response = await api.get("/user/" + userId + "/backtesting", this.headers());
        return response.data.body;
      },
      async deleteUserPairKey(pairKeyId, callback) {
        const response = await api.delete("/key/pair/" + pairKeyId, this.headers());
        callback();
        return response.data.body;
      },
      async startAutoTrading(autoTradingProcessorId, callback) {
        const response = await api.post("/autotrading/" + autoTradingProcessorId + "/start", {}, this.headers());
        callback();
        return response.data.body;
      },
      async stopAutoTrading(autoTradingProcessorId, callback) {
        const response = await api.post("/autotrading/" + autoTradingProcessorId + "/stop", {}, this.headers());
        callback();
        return response.data.body;
      },
      async terminateAutoTrading(autoTradingProcessorId, callback) {
        if (!confirm("자동매매가 종료되고, 목록에서 제거됩니다. \n 종료하시겠습니까?")) {
          return;
        }
        const response = await api.post("/autotrading/" + autoTradingProcessorId + "/terminate", {}, this.headers());
        callback();
        return response.data.body;
      },
      async registerKeyPair(callback) {
        const body = {
          coinExchangeType: this.register.keyPair.coinExchangeType,
          keyList: this.register.keyPair.keyList
        };

        const response = await api.post("/key/pair", body, this.headers());
        this.register.keyPair = this.resetKeyRegister();
        callback();
        return response.data.body;
      },
      async registerAutoTrading(callback) {
        const body = this.register.autoTrading;
        const response = await api.post("/autotrading/register", body, this.headers());
        this.register.autoTrading = this.resetAutoTradingRegister();
        callback();
        return response.data.body;
      },
      async registerBackTesting(processorId, start, end, callback) {
        if (!confirm("해당 프로세스에 대해 백테스팅을 실행하시겠습니까?")) {
          return;
        }
        const body = {
          autoTradingProcessorId: processorId,
          start: start,
          end: end
        };

        const response = await api.post("/backtesting", body, this.headers());
        this.register.backTesting = this.resetBackTestingRegister();
        callback();
        return response.data.body;
      },
      toggleKeyRegisterUI() {
        this.register.keyPair.isVisible = !this.register.keyPair.isVisible;
      },
      toggleAutoTradingRegisterUI() {
        this.register.autoTrading.isVisible = !this.register.autoTrading.isVisible;
      },
      toggleBackTestingRegisterUI(autoTradingProcessorId) {
        this.register.backTesting.autoTradingProcessorId = autoTradingProcessorId;
        this.register.backTesting.isVisible = !this.register.backTesting.isVisible;
      },
      resetKeyRegister() {
        return {
          isVisible: false,
          coinExchangeType: "",
          keyList: [
            {
              name: "",
              value: ""
            }
          ]
        }
      },
      resetAutoTradingRegister() {
        return {
          isVisible: false,
          title: "",
          coinType: "",
          coinExchangeType: "",
          tradingTerm: "",
          strategyCode: "",
          keyPairId: "",

          // 전략 세부 설정
          buyRsi: "",
          profitRsi: "",
          lossRsi: "",
          profitLimitPriceRate: "",
          lossLimitPriceRate: "",
          tooOldOrderTimeSeconds: "",
          orderPrice: "",
          accountBalanceLimit: ""
        }
      },
      resetBackTestingRegister() {
        return {
          isVisible: false,
          autoTradingProcessorId: "",
          start: "",
          end: "",
        }
      },
      async resetTypeInfo() {
        const response = await api.get("/type", this.headers());
        this.type = response.data.body;
      },
      headers() {
        const userId = this.user.id;
        if (!userId) {
          alert("사용자ID를 입력해주세요.");
          return;
        }
        return {
          headers: {
            "userId": this.user.id
          }
        };
      }
    },
  });
</script>
</body>
</html>