<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" th:href="@{favicon.ico(v=2)}"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <title>Dashboard</title>
</head>
<body>
<v-app id="app">
  <v-container>
    <v-toolbar dark color="#162130" style="height:5vh;">
      <v-toolbar-title class="white--text"></v-toolbar-title>

      <v-toolbar-items>
        <v-icon @click="refresh()">cached</v-icon>
      </v-toolbar-items>

      <v-spacer></v-spacer>

      <v-layout row align-center style="max-width: 10vw; min-width:1vw;">
        <v-form action="/logout" method="post">
          <v-btn
              type="submit"
              text
          >Logout
          </v-btn>
        </v-form>
      </v-layout>
    </v-toolbar>
  </v-container>
  <div>
    <div v-if="register.autoTrading.isVisible">
      <h3> 자동 매매 등록</h3>
      <div>
        <input v-model="register.autoTrading.title" type="text" placeholder="제목">
      </div>
      <div>
        <select v-model="register.autoTrading.coinType">
          <option disabled value="">코인 종목</option>
          <option v-for="(value,key) in type.coinTypeMap" :value="key">{{value}}</option>
        </select>
      </div>
      <div>
        <select v-model="register.autoTrading.coinExchangeType">
          <option disabled value="">거래소</option>
          <option v-for="(value,key) in type.coinExchangeTypeMap" :value="key">{{value}}</option>
        </select>
      </div>
      <div>
        <select v-model="register.autoTrading.tradingTerm">
          <option disabled value="">매매 전략</option>
          <option v-for="(value,key) in type.tradingTermMap" :value="key">{{value}}</option>
        </select>
      </div>
      <div>
        <select v-model="register.autoTrading.strategyCode">
          <option disabled value="">전략 코드</option>
          <option v-for="(value,key) in type.strategyCodeMap" :value="key">{{value}}</option>
        </select>
      </div>
      <div>
        <div>
          <input v-model="register.autoTrading.buyRsi" type="text" placeholder="매수 주문을 할 rsi 기준">
        </div>
        <div>
          <input v-model="register.autoTrading.profitRsi" type="text" placeholder="이익중일때 익절할 rsi 기준">
        </div>
        <div>
          <input v-model="register.autoTrading.lossRsi" type="text" placeholder="손실중일때 손절할 rsi 기준">
        </div>
        <div>
          <input v-model="register.autoTrading.profitLimitPriceRate" type="text" placeholder="익절 이익율 상한">
        </div>
        <div>
          <input v-model="register.autoTrading.lossLimitPriceRate" type="text" placeholder="손절 손실율 상한">
        </div>
        <div>
          <input v-model="register.autoTrading.tooOldOrderTimeSeconds" type="text" placeholder="초(second)">
        </div>
        <div>
          <input v-model="register.autoTrading.orderPrice" type="text" placeholder="한번에 주문할 금액">
        </div>
        <div>
          <input v-model="register.autoTrading.accountBalanceLimit" type="text" placeholder="계좌 금액 안전 장치">
        </div>
      </div>
      <div>
        <select v-model="register.autoTrading.keyPairId">
          <option disabled value="">키 페어 ID</option>
          <option v-for="(keyPair) in user.keyPairList" :value="keyPair.pairId">{{keyPair.pairId}}</option>
        </select>
      </div>
      <div>
        <input type="button" value="등록하기" @click="registerAutoTrading(refresh)">
      </div>
    </div>
    <div v-if="register.backTesting.isVisible">
      <input type="datetime-local" v-model="register.backTesting.start">
      <input type="datetime-local" v-model="register.backTesting.end">
      <input type="button" value="실행" @click="registerBackTesting(register.backTesting.autoTradingProcessorId, register.backTesting.start, register.backTesting.end, refresh)">
    </div>
  </div>
  <v-container>
    <h2> 키 리스트 </h2>
    <v-layout wrap>
      <v-card
          class="ma-3"
          v-for="keyPair in user.keyPairList"
      >
        <v-card-text>
          <div>
            키 페어 ID : {{keyPair.pairId}}
          </div>
          <div>
            거래소 : {{keyPair.coinExchangeType}}
          </div>
          <div v-for="key in keyPair.keyList">
            <div>
              키 이름 : {{key.name}}
            </div>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="primary"
              @click="deleteUserPairKey(keyPair.pairId, refresh)"
          > 삭제
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card class="ma-3">
        <v-card-text>
          <h3> 키 등록</h3>
          <div>
            <v-row>
              <v-col cols="12">
                <v-select
                    label="거래소를 선택해주세요."
                    solo
                    :items="type.coinExchangeTypeList"
                    item-text="name"
                    item-value="value"
                    v-model="register.keyPair.coinExchangeType"
                ></v-select>
              </v-col>
            </v-row>
            <v-row
                align="center"
                justify="center"
                v-for="(key, i) in register.keyPair.keyList"
            >
              <v-col cols="4">
                <v-text-field
                    label="키 이름"
                    v-model="key.name"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                    label="키 값"
                    v-model="key.value"
                ></v-text-field>
              </v-col>
              <v-col cols="2">
                <v-icon @click="deleteKeyInputBox(i)">delete</v-icon>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-icon
                    x-large
                    @click="addKeyInputBox()"
                >add_circle
                </v-icon>
              </v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn value="" @click="registerKeyPair(refresh)">추가</v-btn>
        </v-card-actions>
      </v-card>
    </v-layout>

  </v-container>
  <v-container>
    <h2> 자동매매 리스트 </h2>
    <v-layout wrap>
      <v-card
          class="ma-3"
          v-for="autoTrading in user.autoTradingList"
      >
        <v-card-text>
          <div>
            제목 : {{autoTrading.title}}
          </div>
          <div>
            전략 코드 : {{autoTrading.strategyIdentifyCode}}
          </div>
          <div>
            매매 타입 : {{autoTrading.tradingTerm}}
          </div>
          <div>
            거래소 : {{autoTrading.coinExchangeType}}
          </div>
          <div>
            코인 : {{autoTrading.coinType}}
          </div>
          <div>
            프로세스ID : {{autoTrading.processorId}}
          </div>
          <div>
            상태 : {{autoTrading.processStatus}}
          </div>
          <div>
            세부설정 : {{autoTrading}}
          </div>
          <div>
            백테스팅 현황
            <div v-for="backTesting in user.backTestingList">
              <div v-if="backTesting.autoTradingProcessorId==autoTrading.processorId">
                <div>
                  기간 : {{backTesting.start}} ~ {{backTesting.end}}
                </div>
                <div>
                  실행율 : {{backTesting.result.executionRate}}
                </div>
                <div>
                  상태 : {{backTesting.result.status}}
                </div>
                <div>
                  손익 : {{backTesting.result.marginPrice}}
                </div>
                <div>
                  손익율 : {{backTesting.result.marginRate}}
                </div>
                <div>
                  수수료 : {{backTesting.result.totalFee}}
                </div>
                <div>
                  히스토리 :
                  <div v-html="backTesting.result.eventMessage">
                  </div>
                </div>
                <div>

                </div>
              </div>
            </div>
          </div>
        </v-card-text>
        <v-card_actions>
          <v-spacer></v-spacer>
          <v-btn @click="startAutoTrading(autoTrading.processorId,refresh)"> 시작</v-btn>
          <v-btn @click="stopAutoTrading(autoTrading.processorId,refresh)"> 정지</v-btn>
          <v-btn @click="terminateAutoTrading(autoTrading.processorId,refresh)"> 종료</v-btn>
          <v-btn @click="toggleBackTestingRegisterUI(autoTrading.processorId)"> 백테스팅</v-btn>
        </v-card_actions>
      </v-card>
    </v-layout>
  </v-container>
</v-app>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script type="text/javascript"></script>
<script>
  var api = axios.create({
    timeout: 5000,
  });
  api.interceptors.response.use((response) => response, (error) => {
    alert(error);
    throw error;
  });
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data() {
      return {
        user: {
          keyPairList: [],
          autoTradingList: [],
          backTestingList: []
        },
        register: {
          keyPair: {},
          autoTrading: {},
          backTesting: {}
        },
        type: {}
      }
    },
    async created() {
      this.register.keyPair = this.resetKeyRegister();
      this.register.autoTrading = this.resetAutoTradingRegister();
      this.register.backTesting = this.resetBackTestingRegister();
      this.type = this.resetTypeInfo();
      this.refresh();
    },
    methods: {
      async refresh() {
        this.updateAllInformation();
      },
      async updateAllInformation() {
        const userId = this.user.id;
        this.user.keyPairList = await this.getUserKeyList(userId);
        this.user.autoTradingList = await this.getUserAutoTradingList(userId);
        this.user.backTestingList = await this.getUserBackTestingList(userId);
        this.type = this.resetTypeInfo();
      },
      addKeyInputBox() {
        this.register.keyPair.keyList.push({name: "", value: ""});
      },
      deleteKeyInputBox(index) {
        this.register.keyPair.keyList.splice(index, 1);
      },
      async getUserKeyList(userId) {
        const response = await api.get("/user/" + userId + "/key/pair");
        return response.data.body;
      },
      async getUserAutoTradingList(userId) {
        const response = await api.get("/user/" + userId + "/autotrading");
        return response.data.body;
      },
      async getUserBackTestingList(userId) {
        const response = await api.get("/user/" + userId + "/backtesting");
        return response.data.body;
      },
      async deleteUserPairKey(pairKeyId, callback) {
        const response = await api.delete("/key/pair/" + pairKeyId);
        callback();
        return response.data.body;
      },
      async startAutoTrading(autoTradingProcessorId, callback) {
        const response = await api.post("/autotrading/" + autoTradingProcessorId + "/start", {});
        callback();
        return response.data.body;
      },
      async stopAutoTrading(autoTradingProcessorId, callback) {
        const response = await api.post("/autotrading/" + autoTradingProcessorId + "/stop", {});
        callback();
        return response.data.body;
      },
      async terminateAutoTrading(autoTradingProcessorId, callback) {
        if (!confirm("자동매매가 종료되고, 목록에서 제거됩니다. \n 종료하시겠습니까?")) {
          return;
        }
        const response = await api.post("/autotrading/" + autoTradingProcessorId + "/terminate", {});
        callback();
        return response.data.body;
      },
      async registerKeyPair(callback) {
        const body = {
          coinExchangeType: this.register.keyPair.coinExchangeType,
          keyList: this.register.keyPair.keyList
        };

        const response = await api.post("/key/pair", body);
        this.register.keyPair = this.resetKeyRegister();
        callback();
        return response.data.body;
      },
      async registerAutoTrading(callback) {
        const body = this.register.autoTrading;
        const response = await api.post("/autotrading/register", body);
        this.register.autoTrading = this.resetAutoTradingRegister();
        callback();
        return response.data.body;
      },
      async registerBackTesting(processorId, start, end, callback) {
        if (!confirm("해당 프로세스에 대해 백테스팅을 실행하시겠습니까?")) {
          return;
        }
        const body = {
          autoTradingProcessorId: processorId,
          start: start,
          end: end
        };

        const response = await api.post("/backtesting", body);
        this.register.backTesting = this.resetBackTestingRegister();
        callback();
        return response.data.body;
      },
      toggleAutoTradingRegisterUI() {
        this.register.autoTrading.isVisible = !this.register.autoTrading.isVisible;
      },
      toggleBackTestingRegisterUI(autoTradingProcessorId) {
        this.register.backTesting.autoTradingProcessorId = autoTradingProcessorId;
        this.register.backTesting.isVisible = !this.register.backTesting.isVisible;
      },
      resetKeyRegister() {
        return {
          coinExchangeType: "",
          keyList: [
            {
              name: "",
              value: ""
            }
          ]
        }
      },
      resetAutoTradingRegister() {
        return {
          isVisible: false,
          title: "",
          coinType: "",
          coinExchangeType: "",
          tradingTerm: "",
          strategyCode: "",
          keyPairId: "",

          // 전략 세부 설정
          buyRsi: "",
          profitRsi: "",
          lossRsi: "",
          profitLimitPriceRate: "",
          lossLimitPriceRate: "",
          tooOldOrderTimeSeconds: "",
          orderPrice: "",
          accountBalanceLimit: ""
        }
      },
      resetBackTestingRegister() {
        return {
          isVisible: false,
          autoTradingProcessorId: "",
          start: "",
          end: "",
        }
      },
      async resetTypeInfo() {
        const response = await api.get("/type");
        this.type = response.data.body;
      },
    },
  });
</script>
</body>
</html>